In [1]:
# Importar las librer√≠as necesarias
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler
import category_encoders as ce
from sklearn.metrics import confusion_matrix, accuracy_score, recall_score, precision_score, f1_score,\
                            roc_curve, precision_recall_curve
from sklearn import linear_model
from sklearn.linear_model import LogisticRegression
import warnings
warnings.filterwarnings("ignore")

In [2]:
# Lectura de los datos
data_train = pd.read_csv('data/pd_data_train.csv', low_memory=False)
data_train = pd.read_csv('data/pd_data_train.csv', low_memory=False)
data_test = pd.read_csv('data/pd_data_test.csv', low_memory=False)

In [3]:
target = ['C_SEV']
v_type_col = [col for col in data_train.columns if col[0:6]=="V_TYPE"]
p_sex_col = [col for col in data_train.columns if col[0:5]=="P_SEX"]
int_features = ['C_VEHS', 'P_AGE', 'A_VAGE'] + v_type_col + p_sex_col
float_features = ['P_SAFE']
numeric_features = int_features + float_features
categories = [col for col in data_train.columns if col not in target+numeric_features]

In [4]:
dtypes = {}
for feature in int_features:
    dtypes[feature] = 'uint8'
for feature in float_features:
    dtypes[feature] = 'float'    
for feature in categories+target:
    dtypes[feature] = 'uint8'

In [5]:
data_train = data_train.astype(dtypes)
data_test = data_test.astype(dtypes)

In [6]:
data_test

,C_SEV,C_MNTH,C_WDAY,C_HOUR,C_VEHS,C_CONF,C_RCFG,C_WTHR,C_RSUR,C_RALN,...,V_TYPE_5,V_TYPE_6,V_TYPE_7,V_TYPE_8,V_TYPE_9,P_SEX_F,P_SEX_M,P_SAFE,P_AGE,A_VAGE
0,0,9,1,2,1,6,1,2,1,2,...,0,0,0,0,0,2,0,1.000000,18,2
1,0,11,3,1,1,4,1,2,5,2,...,0,1,0,0,0,1,0,1.000000,48,4
2,0,1,5,1,2,31,1,1,3,3,...,0,0,0,0,0,1,2,1.000000,26,5
3,0,4,4,0,1,2,2,1,1,2,...,0,0,0,0,0,0,1,1.000000,40,5
4,0,11,2,2,2,35,2,1,1,1,...,0,0,0,0,0,1,1,1.000000,38,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
352444,0,10,7,0,1,2,2,1,1,3,...,0,0,0,0,0,1,0,1.000000,29,6
352445,0,10,6,0,1,3,2,3,2,2,...,0,0,0,0,0,2,1,0.666667,19,12
352446,0,1,4,2,3,21,2,1,2,1,...,0,0,1,0,0,3,4,0.857143,34,4
352447,0,3,5,2,3,21,2,4,2,3,...,0,0,0,0,0,3,4,1.000000,18,12
352448,0,12,5,1,1,24,1,2,4,1,...,0,0,0,0,0,1,1,1.000000,61,8

In [8]:
data_test.isna().count()

C_SEV        352449
C_MNTH       352449
C_WDAY       352449
C_HOUR       352449
C_VEHS       352449
C_CONF       352449
C_RCFG       352449
C_WTHR       352449
C_RSUR       352449
C_RALN       352449
C_TRAF       352449
V_TYPE_1     352449
V_TYPE_10    352449
V_TYPE_11    352449
V_TYPE_14    352449
V_TYPE_16    352449
V_TYPE_17    352449
V_TYPE_18    352449
V_TYPE_19    352449
V_TYPE_20    352449
V_TYPE_21    352449
V_TYPE_22    352449
V_TYPE_23    352449
V_TYPE_24    352449
V_TYPE_5     352449
V_TYPE_6     352449
V_TYPE_7     352449
V_TYPE_8     352449
V_TYPE_9     352449
P_SEX_F      352449
P_SEX_M      352449
P_SAFE       352449
P_AGE        352449
A_VAGE       352449
dtype: int64