In [2]:
import pandas as pd
import seaborn as sns 
import numpy as np
import requests
from pandas_profiling import ProfileReport
import sweetviz as sv
from sklearn.impute import KNNImputer

In [3]:
data = pd.read_csv("data/NCDB_1999_to_2014.csv")

C:\Users\Antonio\anaconda3\envs\practicaml_traffic_collision\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (1,2,5,12) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
data

,C_YEAR,C_MNTH,C_WDAY,C_HOUR,C_SEV,C_VEHS,C_CONF,C_RCFG,C_WTHR,C_RSUR,...,V_ID,V_TYPE,V_YEAR,P_ID,P_SEX,P_AGE,P_PSN,P_ISEV,P_SAFE,P_USER
0,1999,1,1,20,2,02,34,UU,1,5,...,01,06,1990,01,M,41,11,1,UU,1
1,1999,1,1,20,2,02,34,UU,1,5,...,02,01,1987,01,M,19,11,1,UU,1
2,1999,1,1,20,2,02,34,UU,1,5,...,02,01,1987,02,F,20,13,2,02,2
3,1999,1,1,08,2,01,01,UU,5,3,...,01,01,1986,01,M,46,11,1,UU,1
4,1999,1,1,08,2,01,01,UU,5,3,...,99,NN,NNNN,01,M,05,99,2,UU,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5860400,2014,UU,U,UU,2,UU,UU,01,U,U,...,13,07,UUUU,01,M,24,11,1,NN,1
5860401,2014,UU,U,23,2,01,06,05,1,1,...,1,14,2006,01,M,29,96,2,09,5
5860402,2014,UU,U,14,2,01,02,01,1,5,...,1,01,2006,01,F,UU,11,2,01,1
5860403,2014,UU,U,22,1,01,06,01,2,4,...,1,22,UUUU,01,M,67,12,3,01,U
5860404,2014,UU,U,22,1,01,06,01,2,4,...,1,22,UUUU,02,M,10,98,1,01,U

In [70]:
# agrupamos las columnas referentes al accidente, que son aquellas que empiezan por C y creamos una columna auxiliar que 
# nos diga las personas involucradas en cada accidente

c_cols = [col for col in data.columns if col[0]=="C"]
collision_df = data.groupby(c_cols).size().reset_index().rename(columns={0:"A_PERS"}).drop_duplicates()

In [71]:
collision_df

,C_YEAR,C_MNTH,C_WDAY,C_HOUR,C_SEV,C_VEHS,C_CONF,C_RCFG,C_WTHR,C_RSUR,C_RALN,C_TRAF,A_PERS
0,1999,1,1,00,2,01,01,01,1,4,1,18,1
1,1999,1,1,00,2,01,01,01,1,5,1,18,1
2,1999,1,1,00,2,01,01,01,2,1,1,18,1
3,1999,1,1,00,2,01,01,01,6,3,2,18,2
4,1999,1,1,00,2,01,01,UU,1,2,3,18,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1856903,2014,12,7,UU,2,02,UU,02,U,U,1,03,2
1856904,2014,UU,U,14,2,01,02,01,1,5,4,18,1
1856905,2014,UU,U,22,1,01,06,01,2,4,Q,18,2
1856906,2014,UU,U,23,2,01,06,05,1,1,U,18,1
1856907,2014,UU,U,UU,2,UU,UU,01,U,U,U,UU,20

In [72]:
# hacemos un join entre los dos data frames 
data = data.merge(collision_df,on=c_cols,how='left')

In [73]:
data

,C_YEAR,C_MNTH,C_WDAY,C_HOUR,C_SEV,C_VEHS,C_CONF,C_RCFG,C_WTHR,C_RSUR,...,V_TYPE,V_YEAR,P_ID,P_SEX,P_AGE,P_PSN,P_ISEV,P_SAFE,P_USER,A_PERS
0,1999,1,1,20,2,02,34,UU,1,5,...,06,1990,01,M,41,11,1,UU,1,3.0
1,1999,1,1,20,2,02,34,UU,1,5,...,01,1987,01,M,19,11,1,UU,1,3.0
2,1999,1,1,20,2,02,34,UU,1,5,...,01,1987,02,F,20,13,2,02,2,3.0
3,1999,1,1,08,2,01,01,UU,5,3,...,01,1986,01,M,46,11,1,UU,1,2.0
4,1999,1,1,08,2,01,01,UU,5,3,...,NN,NNNN,01,M,05,99,2,UU,3,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5860400,2014,UU,U,UU,2,UU,UU,01,U,U,...,07,UUUU,01,M,24,11,1,NN,1,20.0
5860401,2014,UU,U,23,2,01,06,05,1,1,...,14,2006,01,M,29,96,2,09,5,1.0
5860402,2014,UU,U,14,2,01,02,01,1,5,...,01,2006,01,F,UU,11,2,01,1,1.0
5860403,2014,UU,U,22,1,01,06,01,2,4,...,22,UUUU,01,M,67,12,3,01,U,2.0
5860404,2014,UU,U,22,1,01,06,01,2,4,...,22,UUUU,02,M,10,98,1,01,U,2.0

In [74]:
print(f'Numero de registros: {data.shape[0]}')
print(f'Numero de columnas: {data.shape[1]}')

Numero de registros: 5860405
Numero de columnas: 23

In [75]:
data.dtypes.to_dict()

{'C_YEAR': dtype('int64'),
 'C_MNTH': dtype('O'),
 'C_WDAY': dtype('O'),
 'C_HOUR': dtype('O'),
 'C_SEV': dtype('int64'),
 'C_VEHS': dtype('O'),
 'C_CONF': dtype('O'),
 'C_RCFG': dtype('O'),
 'C_WTHR': dtype('O'),
 'C_RSUR': dtype('O'),
 'C_RALN': dtype('O'),
 'C_TRAF': dtype('O'),
 'V_ID': dtype('O'),
 'V_TYPE': dtype('O'),
 'V_YEAR': dtype('O'),
 'P_ID': dtype('O'),
 'P_SEX': dtype('O'),
 'P_AGE': dtype('O'),
 'P_PSN': dtype('O'),
 'P_ISEV': dtype('O'),
 'P_SAFE': dtype('O'),
 'P_USER': dtype('O'),
 'A_PERS': dtype('float64')}

In [76]:
# quitamos las siguientes columnas del dataframe: V_ID y P_ID porque ya sabemos las personas y vehículos involucrados en el 
# accidente con la información de otras columnas; C_YEAR y V_YEAR porque lo relevante realmente es la edad del vehículo y no 
# el año del accidente; P_USER porque aporta información menos desarrollada que otras columnas como P_PSN y P_ISEV porque haría
# ambigua a nuestra variable objetivo C_SEV

useless_cols = ['V_ID','P_ID','C_YEAR','P_USER','V_YEAR','P_ISEV']

In [77]:
# certificamos los códigos de todas las columnas que van a ser considerados como nas, mientras que el resto de valores extraños 
# que no sean nas cogerán el siguiente valor de cada columna (el último de P_SAFE era el 13, por lo que lo clasificamos como 14)

nas = ["UU","XX","U","X","XXXX","NN","NNNN","N","UUUU"]
others = {
    "P_SAFE" : "14",
    "P_PSN": "100",
    "V_TYPE": "24",
    "C_TRAF": "19",
    "C_RALN": "7",
    "C_RSUR": "10",
    "C_WTHR": "8",
    "C_RCFG": "13",
    "C_CONF": "42"
}
int_types = ["P_AGE","A_VAGE","A_PERS","C_VEHS"]
categories = [col for col in data.columns if col not in int_types + useless_cols]
target_columns = ["C_SEV","P_ISEV"]

In [78]:
# comprobamos que identifica todos los códigos anteriores como nas 
print("|".join(nas))

UU|XX|U|X|XXXX|NN|NNNN|N|UUUU

In [79]:
# aplicamos la función a todo el dataset 
data[categories] = data[categories].replace(to_replace=rf'^({"|".join(nas)})',value=pd.NA,regex=True)

for key,value in others.items():
    data[key] = data[key].replace(to_replace=r'^Q.*', value=value, regex=True)

In [80]:
# creamos una columna que nos informe de la antigüedad del vehículo al restar el año de colisión con el año del vehículo
data['A_VAGE'] = data['C_YEAR'] - pd.to_numeric(data['V_YEAR'], errors='coerce')

In [81]:
# creamos una función que transforme la columna de hora de colisión. lo más importante son los tramos en los que se haya podido
# dar el accidente y no tanto la hora como tal: madrugada (de 0-6 de la mañana), mañana (6-12), tarde (12-18), tarde-noche (18-
# 24)
def transform_hour(value):
    value = pd.to_numeric(value,errors='coerce')
    if value >= 0 and value<6:
        return '0'
    if value >= 6 and value<12:
        return '1'
    if value >= 12 and value<18:
        return '2'
    if value >= 18 and value<24:
        return '3'
    return pd.NA

data['C_HOUR'] = data['C_HOUR'].apply(transform_hour)

In [82]:
data[int_types] = data[int_types].apply(pd.to_numeric, errors='coerce',downcast='integer')
data[categories] = data[categories].astype('category')

In [83]:
data = data.rename(columns={'P_SEX':'A_DSEX','P_AGE':"A_DAGE",'C_HOUR':'A_CHUR'})

In [84]:
data = data.drop(useless_cols,1).drop_duplicates()
data

C:\Users\Miguel\anaconda3\envs\mm_practica1\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.

,C_MNTH,C_WDAY,A_CHUR,C_SEV,C_VEHS,C_CONF,C_RCFG,C_WTHR,C_RSUR,C_RALN,C_TRAF,V_TYPE,A_DSEX,A_DAGE,P_PSN,P_SAFE,A_PERS,A_VAGE
0,1,1,3,2,2.0,34,NaN,1,5,3,03,06,M,41.0,11,NaN,3.0,9.0
1,1,1,3,2,2.0,34,NaN,1,5,3,03,01,M,19.0,11,NaN,3.0,12.0
2,1,1,3,2,2.0,34,NaN,1,5,3,03,01,F,20.0,13,02,3.0,12.0
3,1,1,1,2,1.0,01,NaN,5,3,6,18,01,M,46.0,11,NaN,2.0,13.0
4,1,1,1,2,1.0,01,NaN,5,3,6,18,NaN,M,5.0,99,NaN,2.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5860383,NaN,NaN,NaN,2,NaN,NaN,01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,14.0
5860401,NaN,NaN,3,2,1.0,06,05,1,1,NaN,18,14,M,29.0,96,09,1.0,8.0
5860402,NaN,NaN,2,2,1.0,02,01,1,5,4,18,01,F,NaN,11,01,1.0,8.0
5860403,NaN,NaN,3,1,1.0,06,01,2,4,7,18,22,M,67.0,12,01,2.0,NaN
5860404,NaN,NaN,3,1,1.0,06,01,2,4,7,18,22,M,10.0,98,01,2.0,NaN

In [85]:
data.dtypes.to_dict()

{'C_MNTH': CategoricalDtype(categories=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, '01', '02', '11',
                   '12'],
 , ordered=False),
 'C_WDAY': CategoricalDtype(categories=[1, 2, 3, 4, 5, 6, 7, '1', '2', '3', '4', '5', '6', '7'], ordered=False),
 'A_CHUR': CategoricalDtype(categories=['0', '1', '2', '3'], ordered=False),
 'C_SEV': CategoricalDtype(categories=[1, 2], ordered=False),
 'C_VEHS': dtype('float64'),
 'C_CONF': CategoricalDtype(categories=['01', '02', '03', '04', '05', '06', '21', '22', '23', '24',
                   '25', '31', '32', '33', '34', '35', '36', '41', '42'],
 , ordered=False),
 'C_RCFG': CategoricalDtype(categories=['01', '02', '03', '04', '05', '06', '07', '08', '09', '10',
                   '13'],
 , ordered=False),
 'C_WTHR': CategoricalDtype(categories=['1', '2', '3', '4', '5', '6', '7', '8'], ordered=False),
 'C_RSUR': CategoricalDtype(categories=['1', '10', '2', '3', '4', '5', '6', '7', '8', '9'], ordered=False),
 'C_RALN': CategoricalDtype(categories=['1', '2', '3', '4', '5', '6', '7'], ordered=False),
 'C_TRAF': CategoricalDtype(categories=['01', '02', '03', '04', '05', '06', '07', '08', '09', '10',
                   '11', '12', '13', '15', '16', '17', '18', '19'],
 , ordered=False),
 'V_TYPE': CategoricalDtype(categories=['01', '05', '06', '07', '08', '09', '10', '11', '14', '16',
                   '17', '18', '19', '20', '21', '22', '23', '24'],
 , ordered=False),
 'A_DSEX': CategoricalDtype(categories=['F', 'M'], ordered=False),
 'A_DAGE': dtype('float64'),
 'P_PSN': CategoricalDtype(categories=['100', '11', '12', '13', '21', '22', '23', '31', '32', '33',
                   '96', '97', '98', '99'],
 , ordered=False),
 'P_SAFE': CategoricalDtype(categories=['01', '02', '09', '10', '11', '12', '13', '14'], ordered=False),
 'A_PERS': dtype('float64'),
 'A_VAGE': dtype('float64')}

In [86]:
data.shape

(5796624, 18)

In [89]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(data.drop('C_SEV',axis=1), 
                                                                     data['C_SEV'], 
                                                                     stratify=data['C_SEV'], 
                                                                     test_size=0.2)
data_train = pd.concat([x_train, y_train],axis=1)
data_test = pd.concat([x_test, y_test],axis=1)

In [92]:
print('== Train\n', data_train['C_SEV'].value_counts(normalize=True))
print('== Test\n', data_test['C_SEV'].value_counts(normalize=True))

== Train
 2    0.98322
1    0.01678
Name: C_SEV, dtype: float64
== Test
 2    0.98322
1    0.01678
Name: C_SEV, dtype: float64

In [95]:
pd_series_null_columns = data_train.isnull().sum().sort_values(ascending=False)
pd_series_null_rows = data_train.isnull().sum(axis=1).sort_values(ascending=False)
print(pd_series_null_columns.shape, pd_series_null_rows.shape)

pd_null_columnas = pd.DataFrame(pd_series_null_columns, columns=['nulos_columnas'])     
pd_null_filas = pd.DataFrame(pd_series_null_rows, columns=['nulos_filas'])  
pd_null_filas['target'] = data['C_SEV'].copy()
pd_null_columnas['porcentaje_columnas'] = pd_null_columnas['nulos_columnas']/data_train.shape[0]
pd_null_filas['porcentaje_filas']= pd_null_filas['nulos_filas']/data_train.shape[1]

(18,) (4637299,)

In [96]:
pd_null_columnas

        nulos_columnas  porcentaje_columnas
P_SAFE          921202         1.986506e-01
A_VAGE          445190         9.600200e-02
C_RCFG          395631         8.531496e-02
C_RALN          345006         7.439805e-02
A_DAGE          292533         6.308263e-02
V_TYPE          201556         4.346409e-02
A_DSEX          180845         3.899792e-02
C_TRAF          173950         3.751106e-02
C_CONF          140139         3.021996e-02
C_WTHR           68905         1.485887e-02
C_RSUR           61915         1.335152e-02
A_CHUR           47102         1.015721e-02
P_PSN            43907         9.468227e-03
C_WDAY             949         2.046450e-04
C_VEHS             295         6.361462e-05
C_MNTH             196         4.226598e-05
A_PERS               3         6.469283e-07
C_SEV                0         0.000000e+00

In [100]:
from matplotlib import pyplot as plt

def plot_feature(df, col_name, isContinuous, target):
    """
    Visualize a variable with and without faceting on the loan status.
    - df dataframe
    - col_name is the variable name in the dataframe
    - full_name is the full variable name
    - continuous is True if the variable is continuous, False otherwise
    """
    f, (ax1, ax2) = plt.subplots(nrows=1, ncols=2, figsize=(12,3), dpi=90)
    
    count_null = df[col_name].isnull().sum()
    if isContinuous:
        
        sns.histplot(df.loc[df[col_name].notnull(), col_name], kde=False, ax=ax1)
    else:
        sns.countplot(df[col_name], order=sorted(df[col_name].unique()), color='#5975A4', saturation=1, ax=ax1)
    ax1.set_xlabel(col_name)
    ax1.set_ylabel('Count')
    ax1.set_title(col_name+ ' Numero de nulos: '+str(count_null))
    plt.xticks(rotation = 90)


    if isContinuous:
        sns.boxplot(x=col_name, y=target, data=df, ax=ax2)
        ax2.set_ylabel('')
        ax2.set_title(col_name + ' by '+target)
    else:
        data = df.groupby(col_name)[target].value_counts(normalize=True).to_frame('proportion').reset_index() 
        data.columns = [i, target, 'proportion']
        #sns.barplot(x = col_name, y = 'proportion', hue= target, data = data, saturation=1, ax=ax2)
        sns.barplot(x = col_name, y = 'proportion', hue= target, data = data, saturation=1, ax=ax2)
        ax2.set_ylabel(target+' fraction')
        ax2.set_title(target)
        plt.xticks(rotation = 90)
    ax2.set_xlabel(col_name)
    
    plt.tight_layout()

In [101]:
for i in list(data_train.columns):
    if (data_train[i].dtype==float) & (i!='C_SEV'):
        plot_feature(data_train, col_name=i, isContinuous=True, target='C_SEV')
    elif  i!='C_SEV':
        plot_feature(data_train, col_name=i, isContinuous=False, target='C_SEV')

TypeError: '<' not supported between instances of 'str' and 'int'

In [87]:
data.isnull().sum().sort_values(ascending=False)

P_SAFE    1151986
A_VAGE     556935
C_RCFG     494719
C_RALN     430958
A_DAGE     365582
V_TYPE     251931
A_DSEX     226151
C_TRAF     217803
C_CONF     175332
C_WTHR      86031
C_RSUR      77431
A_CHUR      58985
P_PSN       54854
C_WDAY       1182
C_VEHS        374
C_MNTH        246
A_PERS          3
C_SEV           0
dtype: int64

In [103]:
list_var_continuous = list(data.select_dtypes('float').columns)

# Tratamiento de NAs con el método KNN Imputer

In [ ]:
X_train = data_train[list(set(list_var_continuous))]
X_test = data_test[list(set(list_var_continuous))]
imputer = KNNImputer(n_neighbors=2, weights="uniform")
model = imputer.fit(X_train)
pd_input_train = pd.DataFrame(model.transform(X_train), 
                      columns=[i+'_input' for i in list(set(list_var_continuous))],index=data_train.index)
pd_input_test = pd.DataFrame(model.transform(X_test), 
                      columns=[i+'_input' for i in list(set(list_var_continuous))],index=data_test.index)

pd_loan_input_train = pd.concat([data_train, pd_input_train],axis=1).drop(list(set(list_var_continuous)),axis=1)
pd_loan_input_test = pd.concat([data_test, pd_input_test],axis=1).drop(list(set(list_var_continuous)),axis=1)

In [ ]:
pd_loan_input_train.shape

In [ ]:
get_percent_null_values_target(pd_loan_input_train, [i+'_input' for i in list_var_continuous], target='loan_status')

In [ ]:
list_var_continuous = list(pd_loan_input_train.select_dtypes('float').columns)
get_corr_matrix(dataset = pd_loan_input_train[list_var_continuous], 
                metodo='pearson', size_figure=[10,8])

In [102]:
list_var_continuous = list(data.select_dtypes('float').columns)

def get_corr_matrix(dataset = None, metodo='pearson', size_figure=[10,8]):
    # Para obtener la correlación de Spearman, sólo cambiar el metodo por 'spearman'

    if dataset is None:
        print(u'\nHace falta pasar argumentos a la función')
        return 1
    sns.set(style="white")
    # Compute the correlation matrix
    corr = dataset.corr(method=metodo) 
    # Set self-correlation to zero to avoid distraction
    for i in range(corr.shape[0]):
        corr.iloc[i, i] = 0
    # Set up the matplotlib figure
    f, ax = plt.subplots(figsize=size_figure)
    # Draw the heatmap with the mask and correct aspect ratio
    sns.heatmap(corr, center=0,
                square=True, linewidths=.5,  cmap ='viridis' ) #cbar_kws={"shrink": .5}
    plt.show()
    
    return 0

In [ ]:
def get_deviation_of_mean_perc(pd_loan, list_var_continuous, target, multiplier):
    """
    Devuelve el porcentaje de valores que exceden del intervalo de confianza
    :type series:
    :param multiplier:
    :return:
    """
    pd_final = pd.DataFrame()
    
    for i in list_var_continuous:
        
        series_mean = pd_loan[i].mean()
        series_std = pd_loan[i].std()
        std_amp = multiplier * series_std
        left = series_mean - std_amp
        right = series_mean + std_amp
        size_s = pd_loan[i].size
        
        perc_goods = pd_loan[i][(pd_loan[i] >= left) & (pd_loan[i] <= right)].size/size_s
        perc_excess = pd_loan[i][(pd_loan[i] < left) | (pd_loan[i] > right)].size/size_s
        
        if perc_excess>0:    
            pd_concat_percent = pd.DataFrame(pd_loan[target][(pd_loan[i] < left) | (pd_loan[i] > right)]\
                                            .value_counts(normalize=True).reset_index()).T
            pd_concat_percent.columns = [pd_concat_percent.iloc[0,0], 
                                         pd_concat_percent.iloc[0,1]]
            pd_concat_percent = pd_concat_percent.drop('index',axis=0)
            pd_concat_percent['variable'] = i
            pd_concat_percent['sum_outlier_values'] = pd_loan[i][(pd_loan[i] < left) | (pd_loan[i] > right)].size
            pd_concat_percent['porcentaje_sum_null_values'] = perc_excess
            pd_final = pd.concat([pd_final, pd_concat_percent], axis=0).reset_index(drop=True)
            
    if pd_final.empty:
        print('No existen variables con valores nulos')
        
    return pd_final

In [64]:
profile = ProfileReport(data, title="Crashes EDA")
profile.to_widgets()

TypeError: _plot_histogram() got an unexpected keyword argument 'title'

In [28]:
# agrupamos las columnas que empiezan por C y creamos la columna A_PCOUNT
c_groups = [col for col in data.columns if col[0]=="C"]
df_columns = [col for col in data.columns if col[0]=="C"]
df_columns.append('P_ID')
data = data.merge(data[df_columns].groupby(df_columns).size().reset_index().drop("P_ID",axis=1).rename(columns={0:"A_PCOUNT"}),on=c_groups)

In [7]:
# X.head()

,C_YEAR,C_MNTH,C_WDAY,C_HOUR,C_VEHS,C_CONF,C_RCFG,C_WTHR,C_RSUR,C_RALN,C_TRAF,V_ID,V_TYPE,V_YEAR,P_ID,P_SEX,P_AGE,P_PSN,P_SAFE,P_USER
0,1999,1,1,20,02,34,UU,1,5,3,03,01,06,1990,01,M,41,11,UU,1
1,1999,1,1,20,02,34,UU,1,5,3,03,02,01,1987,01,M,19,11,UU,1
2,1999,1,1,20,02,34,UU,1,5,3,03,02,01,1987,02,F,20,13,02,2
3,1999,1,1,08,01,01,UU,5,3,6,18,01,01,1986,01,M,46,11,UU,1
4,1999,1,1,08,01,01,UU,5,3,6,18,99,NN,NNNN,01,M,05,99,UU,3

In [52]:
ohe = OneHotEncoder()
oh_array = ohe.fit_transform(X['P_SEX'].values.reshape(-1, 1)).toarray()
oh_df = pd.DataFrame(oh_array,columns=['Female','Male', 'Not applicable', 'Unknown'])
pd.concat([X,oh_df],axis=1)

,C_YEAR,C_MNTH,C_WDAY,C_HOUR,C_VEHS,C_CONF,C_RCFG,C_WTHR,C_RSUR,C_RALN,...,P_ID,P_SEX,P_AGE,P_PSN,P_SAFE,P_USER,Female,Male,Not applicable,Unknown
0,1999,1,1,20,02,34,UU,1,5,3,...,01,M,41,11,UU,1,0.0,1.0,0.0,0.0
1,1999,1,1,20,02,34,UU,1,5,3,...,01,M,19,11,UU,1,0.0,1.0,0.0,0.0
2,1999,1,1,20,02,34,UU,1,5,3,...,02,F,20,13,02,2,1.0,0.0,0.0,0.0
3,1999,1,1,08,01,01,UU,5,3,6,...,01,M,46,11,UU,1,0.0,1.0,0.0,0.0
4,1999,1,1,08,01,01,UU,5,3,6,...,01,M,05,99,UU,3,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5860400,2014,UU,U,UU,UU,UU,01,U,U,U,...,01,M,24,11,NN,1,0.0,1.0,0.0,0.0
5860401,2014,UU,U,23,01,06,05,1,1,U,...,01,M,29,96,09,5,0.0,1.0,0.0,0.0
5860402,2014,UU,U,14,01,02,01,1,5,4,...,01,F,UU,11,01,1,1.0,0.0,0.0,0.0
5860403,2014,UU,U,22,01,06,01,2,4,Q,...,01,M,67,12,01,U,0.0,1.0,0.0,0.0
5860404,2014,UU,U,22,01,06,01,2,4,Q,...,02,M,10,98,01,U,0.0,1.0,0.0,0.0

In [58]:
te = ce.TargetEncoder(cols=['Fatalities'])
prueba['Sev_Enc'] = te.fit_transform(prueba['Fatalities'],data.index)
prueba

,C_YEAR,C_MNTH,C_WDAY,C_HOUR,C_SEV,C_VEHS,C_CONF,C_RCFG,C_WTHR,C_RSUR,...,V_TYPE,V_YEAR,P_ID,P_SEX,P_AGE,P_PSN,P_SAFE,P_USER,Sev_Enc,Fatalities
0,1999,1,1,20,2,02,34,UU,1,5,...,06,1990,01,M,41,11,UU,1,2.931262e+06,0
1,1999,1,1,20,2,02,34,UU,1,5,...,01,1987,01,M,19,11,UU,1,2.931262e+06,0
2,1999,1,1,20,2,02,34,UU,1,5,...,01,1987,02,F,20,13,02,2,2.931262e+06,0
3,1999,1,1,08,2,01,01,UU,5,3,...,01,1986,01,M,46,11,UU,1,2.931262e+06,0
4,1999,1,1,08,2,01,01,UU,5,3,...,NN,NNNN,01,M,05,99,UU,3,2.931262e+06,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5860400,2014,UU,U,UU,2,UU,UU,01,U,U,...,07,UUUU,01,M,24,11,NN,1,2.931262e+06,0
5860401,2014,UU,U,23,2,01,06,05,1,1,...,14,2006,01,M,29,96,09,5,2.931262e+06,0
5860402,2014,UU,U,14,2,01,02,01,1,5,...,01,2006,01,F,UU,11,01,1,2.931262e+06,0
5860403,2014,UU,U,22,1,01,06,01,2,4,...,22,UUUU,01,M,67,12,01,U,2.868259e+06,1
5860404,2014,UU,U,22,1,01,06,01,2,4,...,22,UUUU,02,M,10,98,01,U,2.868259e+06,1

In [60]:
te = ce.TargetEncoder(cols=[prueba.iloc[:, 0:21]])
prueba['Sev_Enc'] = te.fit_transform(prueba['Fatalities'],data.index)
prueba

AttributeError: 'DataFrame' object has no attribute 'unique'

In [18]:
prueba[prueba['P_SEX'] == 'U']['Fatalities'].value_counts()

0    232342
1      2612
Name: Fatalities, dtype: int64

In [19]:
prueba[(prueba['P_SEX'] == 'U')]['Fatalities'].value_counts()/len(prueba[(prueba['P_SEX'] == 'U')])

0    0.988883
1    0.011117
Name: Fatalities, dtype: float64

In [20]:
prueba[(prueba['P_SEX'] == 'N')]['Fatalities'].value_counts()/len(prueba[(prueba['P_SEX'] == 'N')])

0    0.98086
1    0.01914
Name: Fatalities, dtype: float64

In [21]:
prueba[(prueba['P_SEX'] == 'U') | (prueba['P_SEX'] == 'N')]['Fatalities'].value_counts()/len(prueba[(prueba['P_SEX'] == 'U') | (prueba['P_SEX'] == 'N')])

0    0.988408
1    0.011592
Name: Fatalities, dtype: float64

---------------------------------------------------------------------------------------